body {
  background-image: url("../images/backgroundd.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 700px;
  text-align: center;
  color: white;
}
.Title {
  text-align: center;
  font-size: 100px;
  font-family: 'Yellowtail', cursive;
  background-color: rgba(0, 0, 0, 0.5);
}
