body {
  background-image: url("../images/backgroundd.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 700px;
  color: white;
}

.title {
  font-size: 100px;
}

.title-date {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Yellowtail', cursive;
  text-align: center;
}

.date {
  font-size: 50px;
}

.col {
  padding-left: 80px;
  padding-right: 80px;
  margin: 0 auto;

}
